url = https://github.com/NilFoundation/crypto3-multiprecision-marshalling.git
[submodule "libs/math"]
    path = libs/math
    url = https://github.com/NilFoundation/crypto3-math.git
[submodule "libs/pubkey"]
    path = libs/pubkey
    url = https://github.com/NilFoundation/crypto3-pubkey.git
[submodule "libs/pkmodes"]
    path = libs/pkmodes
    url = https://github.com/NilFoundation/crypto3-pkmodes.git
[submodule "libs/pkpad"]
    path = libs/pkpad
    url = https://github.com/NilFoundation/crypto3-pkpad.git
[submodule "libs/container"]
    path = libs/container
    url = https://github.com/NilFoundation/crypto3-containers.git
[submodule "libs/actor/blueprint"]
    path = libs/actor/blueprint
    url = https://github.com/NilFoundation/actor-blueprint.git
[submodule "libs/application"]
    path = libs/application
    url = https://github.com/NilFoundation/application.git
[submodule "libs/module"]
    path = libs/module
    url = https://github.com/NilFoundation/module.git
[submodule "libs/plugin"]
    path = libs/plugin
    url = https://github.com/NilFoundation/plugin.git
[submodule "libs/actor/cluster"]
    path = libs/actor/cluster
    url = https://github.com/NilFoundation/actor-cluster.git
[submodule "libs/actor/container"]
    path = libs/actor/container
    url = https://github.com/NilFoundation/actor-containers.git
[submodule "libs/actor/core"]
    path = libs/actor/core
    url = https://github.com/NilFoundation/actor-core.git
[submodule "libs/actor/math"]
    path = libs/actor/math
    url = https://github.com/NilFoundation/actor-math.git
[submodule "libs/actor/dpdk"]
    path = libs/actor/dpdk
    url = https://github.com/NilFoundation/dpdk.git
[submodule "libs/actor/network"]
    path = libs/actor/network
    url = https://github.com/NilFoundation/actor-network.git
[submodule "libs/actor/zk"]
    path = libs/actor/zk
    url = https://github.com/NilFoundation/actor-zk.git
[submodule "libs/actor/shim/epoll"]
    path = libs/actor/shim/epoll
    url = https://github.com/NilFoundation/epoll-shim.git
[submodule "share/aux-proof-verify"]
    path = share/aux-proof-verify
    url = https://github.com/NilFoundation/evm-placeholder-verification.git
[submodule "share/evm-state-verify"]
    path = share/evm-state-verify
    url = https://github.com/NilFoundation/evm-placeholder-verification.git
